input:focus{
    outline: none;
}
input:hover{
    cursor: pointer;
}
input{
    margin-top: 1.5rem;
    -webkit-appearance: none;
    height: 7px;
    width: 13rem;
    border-radius: 5px;
    background-color: #D782BA;
    background-repeat: no-repeat;
}
::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: .5rem;
    height: 2rem;
    background-color: #899878;
}
::-ms-thumb{
    -webkit-appearance: none;
    width: .5rem;
    height: 2rem;
    background-color: #899878;
}
